In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("salary.csv")
data

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           397 non-null    object
 1   discipline     397 non-null    object
 2   yrs.since.phd  397 non-null    int64
 3   yrs.service    397 non-null    int64
 4   sex            397 non-null    object
 5   salary         397 non-null    int64
dtypes: int64(3), object(3)
memory usage: 18.7+ KB

In [4]:
data.describe()

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [5]:
data.isnull().sum()

rank             0
discipline       0
yrs.since.phd    0
yrs.service      0
sex              0
salary           0
dtype: int64

In [6]:
dataset=data.drop(["rank",'discipline','yrs.since.phd','sex'],axis=1)
dataset

     yrs.service  salary
0             18  139750
1             16  173200
2              3   79750
3             39  115000
4             41  141500
..           ...     ...
392           30  103106
393           19  150564
394           25  101738
395           15   95329
396            4   81035

[397 rows x 2 columns]

In [7]:
x=dataset.iloc[:,:1].values
x

array([[18],
       [16],
       [ 3],
       [39],
       [41],
       [ 6],
       [23],
       [45],
       [20],
       [18],
       [ 8],
       [ 2],
       [ 1],
       [ 0],
       [18],
       [ 3],
       [20],
       [34],
       [23],
       [36],
       [26],
       [31],
       [30],
       [19],
       [ 8],
       [ 8],
       [23],
       [ 3],
       [ 0],
       [ 8],
       [ 4],
       [ 2],
       [ 9],
       [ 2],
       [ 2],
       [ 0],
       [21],
       [ 4],
       [31],
       [ 9],
       [ 2],
       [23],
       [27],
       [38],
       [19],
       [15],
       [28],
       [19],
       [25],
       [ 1],
       [28],
       [11],
       [ 3],
       [ 9],
       [11],
       [ 5],
       [21],
       [ 8],
       [ 9],
       [ 3],
       [ 8],
       [ 2],
       [31],
       [11],
       [ 3],
       [ 8],
       [12],
       [31],
       [17],
       [36],
       [ 2],
       [45],
       [19],
       [34],
       [23],
       [ 3],
       [ 3],
       [19],
       [ 1],
       [ 2],
       [28],
       [16],
       [20],
       [ 2],
       [18],
       [14],
       [37],
       [ 2],
       [25],
       [ 7],
       [ 5],
       [ 7],
       [ 7],
       [38],
       [20],
       [ 0],
       [12],
       [ 7],
       [14],
       [26],
       [25],
       [23],
       [ 5],
       [14],
       [10],
       [28],
       [ 8],
       [ 8],
       [ 8],
       [31],
       [16],
       [16],
       [ 1],
       [37],
       [ 0],
       [ 9],
       [29],
       [36],
       [ 1],
       [ 3],
       [14],
       [32],
       [22],
       [22],
       [22],
       [49],
       [26],
       [ 0],
       [30],
       [ 2],
       [ 9],
       [57],
       [ 8],
       [ 1],
       [25],
       [18],
       [14],
       [14],
       [ 7],
       [18],
       [ 8],
       [10],
       [11],
       [ 3],
       [27],
       [28],
       [ 4],
       [27],
       [26],
       [ 3],
       [12],
       [ 4],
       [ 9],
       [10],
       [ 0],
       [21],
       [18],
       [ 0],
       [ 6],
       [16],
       [ 2],
       [19],
       [ 7],
       [ 3],
       [ 0],
       [ 8],
       [16],
       [19],
       [ 6],
       [18],
       [ 5],
       [19],
       [24],
       [20],
       [ 6],
       [25],
       [ 7],
       [ 9],
       [14],
       [ 3],
       [11],
       [ 5],
       [ 8],
       [22],
       [23],
       [30],
       [10],
       [10],
       [28],
       [19],
       [ 9],
       [22],
       [18],
       [19],
       [53],
       [ 7],
       [ 4],
       [ 4],
       [33],
       [22],
       [ 4],
       [40],
       [17],
       [17],
       [ 5],
       [ 2],
       [33],
       [18],
       [ 2],
       [20],
       [ 3],
       [39],
       [ 7],
       [19],
       [ 1],
       [11],
       [11],
       [22],
       [ 7],
       [11],
       [21],
       [10],
       [ 6],
       [20],
       [35],
       [20],
       [ 1],
       [ 7],
       [11],
       [38],
       [27],
       [24],
       [19],
       [19],
       [ 3],
       [17],
       [25],
       [ 6],
       [40],
       [ 6],
       [ 3],
       [30],
       [37],
       [23],
       [23],
       [11],
       [23],
       [18],
       [23],
       [ 7],
       [39],
       [ 8],
       [12],
       [ 2],
       [ 7],
       [ 8],
       [22],
       [23],
       [ 3],
       [30],
       [33],
       [45],
       [26],
       [31],
       [35],
       [30],
       [43],
       [10],
       [44],
       [ 7],
       [40],
       [18],
       [ 1],
       [ 4],
       [ 3],
       [ 6],
       [48],
       [27],
       [18],
       [46],
       [38],
       [27],
       [51],
       [43],
       [ 6],
       [49],
       [27],
       [ 0],
       [27],
       [ 5],
       [ 7],
       [28],
       [ 9],
       [ 1],
       [ 7],
       [36],
       [18],
       [11],
       [43],
       [39],
       [36],
       [16],
       [13],
       [ 4],
       [44],
       [31],
       [ 4],
       [28],
       [ 0],
       [15],
       [ 7],
       [ 9],
       [19],
       [35],
       [ 6],
       [ 3],
       [ 9],
       [45],
       [16],
       [15],
       [23],
       [ 9],
       [11],
       [15],
       [31],
       [ 4],
       [15],
       [37],
       [10],
       [23],
       [60],
       [ 9],
       [10],
       [19],
       [ 6],
       [38],
       [23],
       [12],
       [25],
       [15],
       [11],
       [17],
       [38],
       [31],
       [35],
       [10],
       [27],
       [33],
       [ 3],
       [28],
       [49],
       [38],
       [27],
       [20],
       [ 1],
       [21],
       [40],
       [35],
       [14],
       [ 4],
       [11],
       [15],
       [30],
       [17],
       [43],
       [40],
       [10],
       [ 1],
       [30],
       [31],
       [ 8],
       [20],
       [ 7],
       [26],
       [19],
       [26],
       [ 1],
       [ 3],
       [38],
       [ 8],
       [ 3],
       [23],
       [ 5],
       [44],
       [21],
       [ 9],
       [27],
       [15],
       [36],
       [18],
       [19],
       [19],
       [30],
       [19],
       [25],
       [15],
       [ 4]])

In [8]:
y=dataset.iloc[:,1:].values
y

array([[139750],
       [173200],
       [ 79750],
       [115000],
       [141500],
       [ 97000],
       [175000],
       [147765],
       [119250],
       [129000],
       [119800],
       [ 79800],
       [ 77700],
       [ 78000],
       [104800],
       [117150],
       [101000],
       [103450],
       [124750],
       [137000],
       [ 89565],
       [102580],
       [ 93904],
       [113068],
       [ 74830],
       [106294],
       [134885],
       [ 82379],
       [ 77000],
       [118223],
       [132261],
       [ 79916],
       [117256],
       [ 80225],
       [ 80225],
       [ 77000],
       [155750],
       [ 86373],
       [125196],
       [100938],
       [146500],
       [ 93418],
       [101299],
       [231545],
       [ 94384],
       [114778],
       [ 98193],
       [151768],
       [140096],
       [ 70768],
       [126621],
       [108875],
       [ 74692],
       [106639],
       [103760],
       [ 83900],
       [117704],
       [ 90215],
       [100135],
       [ 75044],
       [ 90304],
       [ 75243],
       [109785],
       [103613],
       [ 68404],
       [100522],
       [101000],
       [ 99418],
       [111512],
       [ 91412],
       [126320],
       [146856],
       [100131],
       [ 92391],
       [113398],
       [ 73266],
       [150480],
       [193000],
       [ 86100],
       [ 84240],
       [150743],
       [135585],
       [144640],
       [ 88825],
       [122960],
       [132825],
       [152708],
       [ 88400],
       [172272],
       [107008],
       [ 97032],
       [105128],
       [105631],
       [166024],
       [123683],
       [ 84000],
       [ 95611],
       [129676],
       [102235],
       [106689],
       [133217],
       [126933],
       [153303],
       [127512],
       [ 83850],
       [113543],
       [ 82099],
       [ 82600],
       [ 81500],
       [131205],
       [112429],
       [ 82100],
       [ 72500],
       [104279],
       [105000],
       [120806],
       [148500],
       [117515],
       [ 72500],
       [ 73500],
       [115313],
       [124309],
       [ 97262],
       [ 62884],
       [ 96614],
       [ 78162],
       [155500],
       [ 72500],
       [113278],
       [ 73000],
       [ 83001],
       [ 76840],
       [ 77500],
       [ 72500],
       [168635],
       [136000],
       [108262],
       [105668],
       [ 73877],
       [152664],
       [100102],
       [ 81500],
       [106608],
       [ 89942],
       [112696],
       [119015],
       [ 92000],
       [156938],
       [144651],
       [ 95079],
       [128148],
       [ 92000],
       [111168],
       [103994],
       [ 92000],
       [118971],
       [113341],
       [ 88000],
       [ 95408],
       [137167],
       [ 89516],
       [176500],
       [ 98510],
       [ 89942],
       [ 88795],
       [105890],
       [167284],
       [130664],
       [101210],
       [181257],
       [ 91227],
       [151575],
       [ 93164],
       [134185],
       [105000],
       [111751],
       [ 95436],
       [100944],
       [147349],
       [ 92000],
       [142467],
       [141136],
       [100000],
       [150000],
       [101000],
       [134000],
       [103750],
       [107500],
       [106300],
       [153750],
       [180000],
       [133700],
       [122100],
       [ 86250],
       [ 90000],
       [113600],
       [ 92700],
       [ 92000],
       [189409],
       [114500],
       [ 92700],
       [119700],
       [160400],
       [152500],
       [165000],
       [ 96545],
       [162200],
       [120000],
       [ 91300],
       [163200],
       [ 91000],
       [111350],
       [128400],
       [126200],
       [118700],
       [145350],
       [146000],
       [105350],
       [109650],
       [119500],
       [170000],
       [145200],
       [107150],
       [129600],
       [ 87800],
       [122400],
       [ 63900],
       [ 70000],
       [ 88175],
       [133900],
       [ 91000],
       [ 73300],
       [148750],
       [117555],
       [ 69700],
       [ 81700],
       [114000],
       [ 63100],
       [ 77202],
       [ 96200],
       [ 69200],
       [122875],
       [102600],
       [108200],
       [ 84273],
       [ 90450],
       [ 91100],
       [101100],
       [128800],
       [204000],
       [109000],
       [102000],
       [132000],
       [ 77500],
       [116450],
       [ 83000],
       [140300],
       [ 74000],
       [ 73800],
       [ 92550],
       [ 88600],
       [107550],
       [121200],
       [126000],
       [ 99000],
       [134800],
       [143940],
       [104350],
       [ 89650],
       [103700],
       [143250],
       [194800],
       [ 73000],
       [ 74000],
       [ 78500],
       [ 93000],
       [107200],
       [163200],
       [107100],
       [100600],
       [136500],
       [103600],
       [ 57800],
       [155865],
       [ 88650],
       [ 81800],
       [115800],
       [ 85000],
       [150500],
       [ 74000],
       [174500],
       [168500],
       [183800],
       [104800],
       [107300],
       [ 97150],
       [126300],
       [148800],
       [ 72300],
       [ 70700],
       [ 88600],
       [127100],
       [170500],
       [105260],
       [144050],
       [111350],
       [ 74500],
       [122500],
       [ 74000],
       [166800],
       [ 92050],
       [108100],
       [ 94350],
       [100351],
       [146800],
       [ 84716],
       [ 71065],
       [ 67559],
       [134550],
       [135027],
       [104428],
       [ 95642],
       [126431],
       [161101],
       [162221],
       [ 84500],
       [124714],
       [151650],
       [ 99247],
       [134778],
       [192253],
       [116518],
       [105450],
       [145098],
       [104542],
       [151445],
       [ 98053],
       [145000],
       [128464],
       [137317],
       [106231],
       [124312],
       [114596],
       [162150],
       [150376],
       [107986],
       [142023],
       [128250],
       [ 80139],
       [144309],
       [186960],
       [ 93519],
       [142500],
       [138000],
       [ 83600],
       [145028],
       [ 88709],
       [107309],
       [109954],
       [ 78785],
       [121946],
       [109646],
       [138771],
       [ 81285],
       [205500],
       [101036],
       [115435],
       [108413],
       [131950],
       [134690],
       [ 78182],
       [110515],
       [109707],
       [136660],
       [103275],
       [103649],
       [ 74856],
       [ 77081],
       [150680],
       [104121],
       [ 75996],
       [172505],
       [ 86895],
       [105000],
       [125192],
       [114330],
       [139219],
       [109305],
       [119450],
       [186023],
       [166605],
       [151292],
       [103106],
       [150564],
       [101738],
       [ 95329],
       [ 81035]])

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
x_train.shape

(317, 1)

In [12]:
x_test.shape

(80, 1)

In [13]:
y_train.shape

(317, 1)

In [14]:
y_test.shape

(80, 1)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lg=LinearRegression()

In [17]:
lg.fit(x_train,y_train)

LinearRegression()

In [18]:
y_pred=lg.predict(x_test)

In [19]:
print(y_pred)

[[ 97624.92743638]
 [114217.78997568]
 [103155.88161615]
 [104999.5330094 ]
 [115139.61567231]
 [ 98546.75313301]
 [128967.00112173]
 [ 97624.92743638]
 [106843.18440266]
 [110530.48718917]
 [114217.78997568]
 [130810.65251499]
 [118826.91845883]
 [ 99468.57882963]
 [126201.52403185]
 [104999.5330094 ]
 [122514.22124534]
 [100390.40452626]
 [144638.03796441]
 [101312.23022289]
 [100390.40452626]
 [118826.91845883]
 [131732.47821162]
 [114217.78997568]
 [106843.18440266]
 [107765.01009929]
 [ 98546.75313301]
 [ 99468.57882963]
 [115139.61567231]
 [107765.01009929]
 [114217.78997568]
 [106843.18440266]
 [118826.91845883]
 [116983.26706557]
 [115139.61567231]
 [126201.52403185]
 [139107.08378464]
 [116061.44136894]
 [112374.13858243]
 [150168.99214418]
 [104999.5330094 ]
 [115139.61567231]
 [102234.05591952]
 [105921.35870603]
 [121592.39554871]
 [100390.40452626]
 [116061.44136894]
 [123436.04694197]
 [139107.08378464]
 [116061.44136894]
 [114217.78997568]
 [105921.35870603]
 [104077.70731278]
 [102234.05591952]
 [101312.23022289]
 [ 97624.92743638]
 [107765.01009929]
 [107765.01009929]
 [115139.61567231]
 [103155.88161615]
 [125279.69833522]
 [ 99468.57882963]
 [122514.22124534]
 [ 98546.75313301]
 [114217.78997568]
 [123436.04694197]
 [107765.01009929]
 [125279.69833522]
 [105921.35870603]
 [104999.5330094 ]
 [103155.88161615]
 [111452.3128858 ]
 [116983.26706557]
 [129888.82681836]
 [103155.88161615]
 [106843.18440266]
 [107765.01009929]
 [104999.5330094 ]
 [133576.12960488]
 [118826.91845883]]